#footer {
  display:inline-flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 160px;
  background-color: #4f74df;
  color:white;
  text-align: center;
  bottom: 0;
}
#footer > div {
  margin:1rem;
}

#footer-logo {
  display: inline;
}
.footer-menuline {
  text-align:left;
}

.footer-menuline > a {
  color:inherit;
  font-size: small;
  
}