.container {
  /*max-width: 900px;*/
  max-width: 90%;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  margin-top: 100px;
  padding: 0 calc(var(--bs-gutter-x) * 0.5);
  box-sizing: border-box;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width:992px) {
  .container-fluid {
    margin-top: 20vh;
  }
}
  
.p_type{
  margin-bottom: 0 !important;
  padding: var(--bs-gutter-y) calc(var(--bs-gutter-x) * 0.5);
  box-sizing: border-box;
}
.p_category {
  font-size: 0.75rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.p_btn_group {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
  border-radius: 0.35rem;
  overflow: hidden; /* 내부 요소가 둥근 모서리 밖으로 넘치지 않도록 설정 */
}

.btn_active {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
  z-index: 1;

  color: #212832;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0.1rem 0.5rem rgba(33, 40, 50, 0.15); /* 그림자 */  
  border-radius: 0;
  cursor: pointer;
  user-select: none;

  padding: 0.5rem 0.75rem;
  font-family: 'Lato', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn_active:first-child {
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}

.btn_active:last-child {
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}

/* 선택된 항목 스타일 */
.btn_active.selected {
  font-weight: bold;
  color: #fff;
  background-color: #4f74df;
  border-color: #4f74df;
}
  
.btn_active:hover {
  background-color: #f2f2f2;
}

.line{
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}
hr{
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: .25;
}

.outline {
  display: grid; /* Grid 레이아웃 */
  gap: 1.5rem; /* 이미지 간 간격 */
  grid-template-columns: repeat(3, 1fr); /* 기본 3개 */
  box-sizing: border-box;
  transition: all 0.3s ease; /* 부드러운 레이아웃 전환 */
}

@media (min-width: 1400px) {
  .outline {
      grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1800px) {
  .outline {
      grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1200px) {
  .outline {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  .outline {
      grid-template-columns: repeat(1, 1fr);
  }
}

.inside {
  padding: 0 calc(var(--bs-gutter-x) * 0.5); /* p_type과 동일한 좌우 패딩 */
  margin: 0; /* 추가 여백 제거 */
  width: 100%; /* Grid 내부 너비는 100% */
  box-sizing: border-box; /* 동일한 박스 모델 적용 */
  transition: transform 0.3s ease-in-out;
}

.portfolio {
  --aspect-ratio: 1.5;
  position: relative;
  box-shadow: 0 0.15rem 1.75rem #21283226;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  border-radius: 0.5rem; /* 모서리를 둥글게 */
  margin-bottom: 1rem;
  display: block;
  overflow: hidden; /* 내부 이미지가 부모 요소를 넘지 않도록 설정 */
}

.img {
  width: 100%;
  height: auto; /* 이미지의 비율 유지 */
  border-radius: inherit; /* 부모와 동일한 둥근 모서리 적용 */
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
  position: absolute; /* 이미지 겹치기 */
}

.image-container {
  position: relative; /* 부모 요소를 relative로 설정 */
  aspect-ratio: 3/2;
  overflow: hidden;
}

.base-img {
  z-index: 1; /* 기본 이미지 */
}

.badge-container {
  display: flex; /* 가로 정렬 */
  position: absolute;
  top: 0.5rem; /* 부모 컨테이너의 하단에 고정 */
  left: 0.5rem; /* 좌측 여백 */
  z-index: 2; /* 포트폴리오 이미지 위에 표시 */
}

.badge-img {
  z-index: 2; /* 겹치는 이미지가 위에 오도록 설정 */
  opacity: 0.9; /* 투명도를 줄 수 있음 */
  max-width: 80px
}

.bookmark {
  position: absolute;
  z-index: 3;
  background-color: rgba(100, 100, 100, 0.5); /* 반투명 회색 배경 */
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  right: 0.5rem;
  bottom: 0.3rem;
  padding: 0.8rem; /* 버튼 크기 조절 */
  border-radius: 50%; /* 원형 모양 */
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); /* 별 모양 */
}

.bookmarkTrue{
  background-color: rgba(255, 176, 0); /* 반투명 회색 배경 */
}
/* 호버 효과 */
.bookmark:hover {
  transform: scale(1.2);
}


.inside:hover .portfolio {
  transform: translateY(-5px); /* 컨테이너와 이미지 모두 위로 이동 */
  transition: transform 0.3s ease-in-out; /* 부드러운 이동 효과 */
}

.bottom {
  display: flex; /* 왼쪽과 오른쪽을 가로로 정렬 */
  align-items: flex-start; /* 각 섹션의 상단을 맞춤 */
  justify-content: space-between; /* 왼쪽과 오른쪽을 양 끝에 배치 */
  box-sizing: border-box;
}

.bottom_left {
  display: flex; /* 각 섹션 내부를 세로로 정렬 */
  flex-direction: column; /* 이름과 뱃지, 하트와 수익률을 위-아래로 배치 */
  align-items: flex-start; /* 왼쪽 정렬 */
  box-sizing: border-box;
  gap: 0.5rem; /* 각 섹션 요소 간 간격 */
}

.p_name {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #363d47;
  margin: 0;
}

.bottom_right {
  display: flex; /* 각 섹션 내부를 세로로 정렬 */
  flex-direction: column;
  align-items: flex-end; /* 오른쪽 정렬 */
  box-sizing: border-box;
  gap: 0.5rem; /* 각 섹션 요소 간 간격 */
}

.view{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #363d47;
  margin: 0;
}


.rate {
  color: #363d47;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}

/* 페이지 관리 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  background-color: #4f74df;
  color: #fff;
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1rem;
  color: #333;
}